<div class="container">
  <div class="login-pane">
    <img src="assets/login-background.jpg" alt="Login Background">
  </div>
  <div class="form-pane">
    <div class="brand">
      Your Brand Name
    </div>
    <div class="company">
      Your Company Name
    </div>
    <form #loginform>
      <input type="text" formControlName="username" placeholder="Username">
      <input type="password" formControlName="password" placeholder="Password">
      <button type="submit">Login</button>
    </form>
    <div class="footer">
      Copyright 2024 Your Company Name
    </div>
  </div>
  
</div>

