<!-- <div>
  <label for="">Sample data to be transfered</label>
  <input type="text" #idmarker>
</div>

<div>
  <label for="">Number box</label>
  <input type="number" >
</div> -->

<app-login></app-login>

<!-- <div class="container-fluid h-100 d-flex flex-row">
  <div class="col-md-6 bg-image" style="background-image: url('C:\Users\hemna\Downloads\puma1.jpg'); background-size: cover; background-position: center;">
    </div>
  <div class="col-md-6">
    <app-entry></app-entry>
  </div>
</div>
<footer class="fixed-bottom bg-light text-center py-3">
  &copy; 2024 Your Application Name
</footer> -->
